<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<body>
    <div th:replace="header">Header</div>
    <h1 class="col font-italic">У вашего пользователя нет доступа на добавление jar/MQ/telegraf</h1>
    <div align="middle">
        <img src="cat.png" align="middle">
    </div>
    <div class="col">
        <button class="col-sm-1 btn btn-primary btn-sm" style="background-color: Aquamarine" ><a href="javascript:history.back()">Вернуться назад</a></button>
    </div>
</body>
</html>