<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Изменить</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="header">Header</div>
    <h1 class="col font-weight-light" th:text="'История записей для ' + ${inventory.name}"></h1>
    <table class="table table-striped col">
        <thead>
            <tr>
                <td align="center">Кто</td>
                <td align="center">Действие</td>
                <td align="center">Количество</td>
                <td align="center">Осталось на складе</td>
                <td align="center">Ед. измерения</td>
                <td align="center">Дата</td>
                <td align="center">Комментарий</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ac : ${actions}">
                <td align="center" th:text="${ac.recipient}"></td>
                <td th:if="${ac.operation == 'Выдано'}" align="center">Взял</td>
                <td th:if="${ac.operation == 'Принято'}" align="center">Вернул</td>
                <td th:if="${ac.operation == 'Увеличил остаток'}" align="center">Вручную увеличил остаток</td>
                <td th:if="${ac.operation == 'Уменьшил остаток'}" align="center">Вручную уменьшил остаток</td>
                <td th:if="${ac.operation == 'Добавил данный инвентарь'}" align="center">Добавил данный инвентарь</td>
                <td align="center" th:text="${ac.count}"></td>
                <td align="center" th:text="${ac.givingUserOstatok}"></td>
                <td align="center" th:text="${ac.inventory.measure}"></td>
                <td align="center" th:text="${ac.date}"></td>
                <td align="center" th:text="${ac.comment}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>